<h2 mat-dialog-title align="center">Detail Agence</h2>
<mat-dialog-content class="mat-typography" align="center">
  <mat-list role="list">
    <mat-list-item role="listitem">Id: {{data.agence.id}}</mat-list-item>
    <mat-list-item role="listitem">Nom: {{data.agence.nom}}</mat-list-item>
    <mat-list-item role="listitem">telephone: {{data.agence.telephone}}</mat-list-item>
    <mat-list-item role="listitem">Addresse: {{data.agence.addresse}}</mat-list-item>
  </mat-list>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-mini-fab color="warn" [mat-dialog-close]="true"  cdkFocusInitial>
    <mat-icon>clear</mat-icon>
  </button>
</mat-dialog-actions>
