
<mat-tab-group mat-align-tabs="start" backgroundColor="primary">
  <mat-tab>
    <ng-template mat-tab-label>
       Agence
    </ng-template>
    <div>
      <app-agence></app-agence>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Client
    </ng-template>
    <div>
      <app-client></app-client>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Comptes
    </ng-template>
    <div>
      <app-compte></app-compte>
    </div>
  </mat-tab>
</mat-tab-group>
